<footer class="container-fluid text-center foot">

  <div class="copyrights">
      <br>
      <p class="white-txt">Race Education © 2019
     
      </p>
      <hr class="dark-line">
      <a class="link" href="#">Contact Us</a>&nbsp;
      <a class="link" href="#">Privacy Policy</a>&nbsp;
      <a class="link" href="#">Terms & Conditions</a>
      <br><br>
      <p class="white-txt small"  style="margin-bottom: 0px; padding-bottom: 8px;">
         Made with love <i class="fa fa-heart" style="color: red" aria-hidden="true"></i> in India
      </p>
  </div>
</footer>