

<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="banner" [ngClass]="{'shrink': step==87}" >
	<div class="container">
  <!-- Brand -->
  <a class="navbar-brand" href="#">
    <!-- <img class="rounded" src="./assets/race2.png"> -->
    <a class="navbar-brand" href="#"><span>Race</span> Education</a>
  </a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto" style="font-size: 13px;">
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li> 
	   <!-- Dropdown -->
    <!-- <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Dropdown link
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li> -->
    </ul>
  </div>
	</div>
</nav>

<div class="banner">
	<div class="container">
	<div class="banner-text">
	<div class="banner-heading">
	Glad to see you here !
	</div>
	<div class="banner-sub-heading">
	Here goes the secondary heading on hero banner
	</div>
	<button type="button" class="btn btn-warning text-dark btn-banner">Get started</button>
	</div>
	</div>
</div>
<section id="about">
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
	<div class="text-intro">
	<h2>About Us</h2>
		<p class="text-justify">Our Foundation is dedicated to transforming education so that all students can acquire and 
      effectively apply the 
      knowledge, attitudes, and skills necessary to thrive in their studies  and careers.
       Founded by Chandan Kumar in 2015, we take a strategic approach
        to improving education.</p>
  </div>
</div>
<div class="col-lg-4">
    <div class="text-intro">
        <h2>Our Tutors</h2>
        </div>
    <div id="demo" class="carousel slide" data-ride="carousel" >

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
          <li data-target="#demo" data-slide-to="3"></li>
        </ul>
      
        <!-- The slideshow -->
        <div class="carousel-inner" style="border-radius: 10%">
          <div class="carousel-item active">
            <img src="./assets/teacher/chandan.jpg" alt="Chandan Kumar" title="Chandan Kumar">
            <div class="carousel-caption">
                <h3>Chandan Kumar</h3>
                <!-- <p></p> -->
              </div>
          </div>
          <div class="carousel-item">
            <img src="./assets/teacher/rupesh.jpeg" alt="Rupesh Kumar" title="Rupesh Kumar">
            <div class="carousel-caption">
                <h3>Rupesh Kumar</h3>
                <!-- <p>We had such a great time in LA!</p> -->
              </div>
          </div>
          <div class="carousel-item">
              <img src="./assets/teacher/annu.jpg" alt="Annu Kumari" title="Annu Kumari">
              <div class="carousel-caption">
                  <h3>Annu Kumari</h3>
                  <!-- <p>We had such a great time in LA!</p> -->
                </div>
            </div>
          <div class="carousel-item">
            <img src="./assets/teacher/raushan.jpg" alt="Raushan Kumar" title="Raushan Kumar">
            <div class="carousel-caption">
                <h3>Raushan Kumar</h3>
                <!-- <p>We had such a great time in LA!</p> -->
              </div>
          </div>
         
        </div>
      
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon" ></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      
      </div>
</div>
</div>
</div>

</section>

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1" style="color: black;font-size:32px;">OUR COURSES </h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                                    <h4 class="card-title">MATH</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <span class="btn btn-primary">
                                        <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;&nbsp;<span class="badge badge-light">1200</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">MATH</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <input type="button" class="btn btn-primary" value="Buy Now">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="card image"></p>
                                    <h4 class="card-title">SCIENCE</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <span class="btn btn-primary">
                                        <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;&nbsp;<span class="badge badge-light">1100</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">SCIENCE</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <input type="button" class="btn btn-primary" value="Buy Now">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_03.png" alt="card image"></p>
                                    <h4 class="card-title">ENGLISH</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <span class="btn btn-primary">
                                        <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;&nbsp;<span class="badge badge-light">1000</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">ENGLISH</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <input type="button" class="btn btn-primary" value="Buy Now">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_04.jpg" alt="card image"></p>
                                    <h4 class="card-title">COMPUTER</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <span class="btn btn-primary">
                                        <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;&nbsp;<span class="badge badge-light">1600</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">COMPUTER</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <input type="button" class="btn btn-primary" value="Buy Now">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_05.png" alt="card image"></p>
                                    <h4 class="card-title">HINDI</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <span class="btn btn-primary">
                                        <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;&nbsp;<span class="badge badge-light">900</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">HINDI</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <input type="button" class="btn btn-primary" value="Buy Now">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_06.jpg" alt="card image"></p>
                                    <h4 class="card-title">SOCIAL SCIENCE</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <span class="btn btn-primary">
                                        <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;&nbsp;<span class="badge badge-light">1500</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">SOCIAL SCIENCE</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <input type="button" class="btn btn-primary" value="Buy Now">
                                    <!-- <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>
<!-- Team -->

<app-footer></app-footer>
